global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
{% for index in range(common_targets_with_node_exporter_port | length) %}
    - targets:
        - '{{ common_targets_with_node_exporter_port[index] }}'
      labels:
        inventory_label: '{{ common_inventory_names[index] }}'
{% endfor %}
